.edit-profile {
  height: 100%;
  /* width: 80%; */
  width: 80vw;
  background-color: white;
  padding: 3rem;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
}

.edit-profile h1 {
  margin: 0;
}

.edit-profile .title {
  display: flex;
  align-items: center;
}

.field {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.field-item {
  margin-bottom: 1rem;
}
